{% extends 'base.html.twig' %}

{% block title %}Accueil - AID{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">
        <h1 class="mb-4">Bienvenue sur AID</h1>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Projet Symfony avec Bootstrap</h5>
                <p class="card-text">Cette page est générée par le <code>{{ controller_name }}</code></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}